<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продукт🥩</title>
    <style>
        .cat{
      background-color: #26b261;
      border-bottom: 5px solid #4e8a76;
      padding: 10px;
      font-family: intro;
      color: #183b2d;
      text-shadow: 0 5px 5px #1f623b;
      box-shadow: 0 10px 20px #6f9681;
      width: auto;
      font-weight: 500;}
        .cat1{
      padding: 10px;
      font-family: intro;
      color: #183b2d;
      text-shadow: 0 5px 5px #1f623b;
      font-weight: 500;
        float: right;
        font-size: 40px}
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 15px;
        position: relative;
        overflow: hidden;
        border: none;
        background: #2d4f4f;
        color: #fff;
        box-shadow: 0 5px 10px #96a29a;
        border-radius: 9px;
        float: left;
        font-size: 30px;
    }
        .shine_for_coments {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin: 0 auto;
        overflow: hidden;
        border: none;
        background: rgba(47, 121, 92, 0.29);
        color: #fff;
        box-shadow: 0 5px 10px #96a29a;
        border-radius: 9px;
        font-size: 70px;
            left: 0;
            right: 0;
    }
        p{
            font-size: 30px;
            font-family: intro;
        }
        input{
            font-weight: 300;
            font-family: intro;
            font-size: 50px;
        }
            button{
            background-color: rgba(33,87,43,0.7);
            text-align: center;
            padding: 15px 1px;
            margin: 10px 1px;
            font-family: intro;
            font-size: 20px;
            border: 0;
            box-shadow: 0 10px 20px #3b5647;
            margin-bottom: 15px;
            border-radius: 9px;}
        .buy{
            background-color: rgba(41,248,158,0.7);
            color: aliceblue;
            box-shadow: 0 10px 20px #2c362e;
        }
    </style>

</head>
{%for i in game%}
    <center><h1 class="cat">🥘{{i.product}}🥘</h1></center>
{%endfor%}
<body><h2 class="cat1">👈Коментарі</h2>
{%for i in game%}
<div class="shine">
    <h1>{{i.product}}</h1><br>
    Ціна: {{i.price}}<br>
    Масса: {{i.massa}}<br>
    Дата: {{i.year}}
    <form action="/zavd1/buy/{{i.id}}/" method="post">
        {% csrf_token %}
        <center><button class="buy" type="submit">Купити</button></center>
    </form>
    </div>
    <form action="/zavd1/yourproduct/{{i.id}}/" method="post">
    {%csrf_token%}
    <input type="text" name="coment">
    <button type="submit">Опублікувати</button>
</form>
{%endfor%}{%for i in c%}
<div class="shine_for_coments">
    {{i.com}}<br>
</div>
{%endfor%}
</body>
</html>