<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про вас</title>
    <style>
    .cat{
            background-color: #ff6a3e;
            border-bottom: 5px solid #c0662a;
            padding: 10px;
            font-family: intro;
            color: #3b2018;
            text-shadow: 0 5px 5px #62331f;
            box-shadow: 0 10px 20px #96786f;
            width: auto;
            font-weight: 500;
        }
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 15px;
      position: relative;
      overflow: hidden;
      border: none;
      background: #e1a8aa;
      color: #fff;
      box-shadow: 0 5px 10px #96a29a;
      border-radius: 9px;}
    button{
            background-color: #f5736f;
            text-align: center;
            padding: 15px 5px;
            margin: 10px 5px auto;
            font-family: intro;
            font-size: 20px;
            border: 0;
            color: aliceblue;
            box-shadow: 0 10px 20px rgba(236, 95, 156, 0.58);
            width: 19%;
            margin-bottom: 15px;
            border-radius: 9px;}
    .shine-button {
        text-decoration: none;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #fff;
	    font-size: 0.950em;
	    text-transform:  uppercase;
        transition: .2s ease-in-out;
    float: left}
    .shine-button:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -80px;
        transform: skewX(-45deg);}
    .shine-button:hover {
        color: #fff !important;}
    .shine-button:hover:before {
        left: 100%;
        transition: .5s ease-in-out;}
    .shine-button:focus {
        background: #d777ae;
        color: #fff !important;
        outline: none;}
    .link-ease-in-out a {
        display: inline-block;
        color: #ffffff;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;}
    .link-ease-in-out a:after {
        background-color: #e74dbc;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;}
    .link-ease-in-out a:hover:after, .link-ease-in-out a:focus:after {
        width: 100%;}
            p{
            font-weight: 700;
            font-family: intro;
            font-size: 20px;
        }
                    input{
            font-weight: 300;
            font-family: intro;
            font-size: 20px;
        }
    </style>
</head>
<body>
<center><h1 class="cat">Я {{user}}</h1>
        <p>Про себе: {{about}}</p>
</center>
</body>
</html>