<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стаття📙</title>
    <style>
        .cat{
            background-color: #ff6a3e;
            border-bottom: 5px solid #c0662a;
            padding: 10px;
            font-family: intro;
            color: #3b2018;
            text-shadow: 0 5px 5px #62331f;
            box-shadow: 0 10px 20px #96786f;
            width: auto;
            font-weight: 500;
        }
    body {
      margin: 0;}
    head html{
      padding: 0;
      margin: 0;}
    h1{
      margin-top: 0;}
    .shine {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 15px;
        position: relative;
        overflow: hidden;
        border: none;
        background: #e1a8aa;
        color: #fff;
        box-shadow: 0 5px 10px #96a29a;
        border-radius: 9px;
        float: left;
        font-size: 30px;
    }
        .shine_for_coments {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin: 0 auto;
        overflow: hidden;
        border: none;
        background: #ef9884;
        color: #fff;
        box-shadow: 0 5px 10px #e5bdaa;
        border-radius: 9px;
        font-size: 40px;
            left: 0;
            right: 0;
            float: left;
    }
        p{
            font-size: 30px;
            font-family: intro;
        }
        input{
            font-weight: 300;
            font-family: intro;
            font-size: 50px;
        }
            button{
            background-color: #f5736f;
            text-align: center;
            padding: 15px 1px;
            margin: 10px 1px;
            font-family: intro;
            font-size: 20px;
            border: 0;
            box-shadow: 0 10px 20px #3b5647;
            margin-bottom: 15px;
            border-radius: 9px;}
            .about_me{
              background-color: #f56fbf;
                padding: 0 200px;
            }
    </style>

</head>
<body>
{%for i in game%}
    <center><h1 class="cat">📒📔Стаття: {{i.name}}</h1></center>
{%endfor%}
{%for i in game%}
<div class="shine">
    <h1>{{i.name}}</h1><br>
    <b>Автор:</b> {{i.maker}}<br>
    {{i.art}}<br>
    Дата: {{i.year}}<br>
    {% for i in c%}
         {% if i.like != "" %}
         <b>{{i.like}}</b>
         {% endif %}
    {% endfor %}
    </div>
{%endfor%}
{% for i in game%}
    <center><form action="/zavd2/yourart/{{i.id}}/" method="post">
    {%csrf_token%}
    <input type="text" name="coment">
    <button type="submit">Опублікувати</button>
        <input type="hidden" name="like">
    </form>
{% endfor%}
        {% for i in game%}
     <form action="/zavd2/yourart/{{i.id}}/" method="post">
    {%csrf_token%}
         <p><button class="about_me" type="submit" name="like" value="Лайкнуто">Лайкнути</button></p>
         <input type="hidden" name="coment">
     </form>
        {% endfor%}
    <form action="/zavd2/menu/">
        <button class="about_me" type="submit">Вихід</button>
    </form></center>
{%for i in c%}
{%if i.com != '' %}
<div class="shine_for_coments">
    {{i.com}}<br>
</div>
{% endif %}
{%endfor%}
</body>
</html>