<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регестрація📑</title>
    <style>
        body {
            margin: 0;
        }
        head html{
            padding: 0;
            margin: 0;
        }
        h1{
            margin-top: 0;
        }
        p{
            font-weight: 700;
            font-family: intro;
            font-size: 20px;
        }
        input{
            font-weight: 300;
            font-family: intro;
            font-size: 20px;
        }
        .up{
            height: 10px;
        }
        .cat{
            background-color: #ff6a3e;
            border-bottom: 5px solid #c0662a;
            padding: 10px;
            font-family: intro;
            color: #3b2018;
            text-shadow: 0 5px 5px #62331f;
            box-shadow: 0 10px 20px #96786f;
            width: auto;
            font-weight: 500;
        }
        .slide-btns {
            position: relative;
            color: #fff;
            font-size: 0.950em;
            text-transform:  uppercase;
            background: #ff9a61;
            border: 1px solid #cbb6a7;
            padding: 10px 30px;
            margin: 15px;
            z-index: 1;
            overflow: hidden;
             }
        button{
            background-color: #935542;
            text-align: center;
            width: 20%;
            padding: 15px 32px;
            font-weight: 700;
            font-size: 20px;
            border: 0;
	        flex-wrap: wrap;
            box-shadow: 0 10px 20px #967d6f;
        }
        .slide-btns.slide-left::after {
            top: 0;
            bottom: 0;
            left: -100%;
            right: 100%;}
        .slide-btns.slide-right::after {
            top: 0;
            bottom: 0;
            left: 100%;
            right: -100%;}
        .slide-btns::after {
            content: "";
            background: rgba(229, 33, 151, 0.4);
            position: absolute;
            z-index: -1;
        }
        .slide-btns[class^="slide"]::after {
            transition: all 0.60s;
        }
        .slide-btns[class^="slide"]:hover::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all 0.60s;
        }
                .error{
            color: #f5593c;
        }
    </style>
</head>
<body>
<form action="/zavd2/mag/" method="post">
    {%csrf_token%}
    <center><h1 class="cat">САЙТ РЕГЕСТРАЦІЇ📜</h1></center>
    <center><p class="up">Ваша почта:<input type="text" name = "email"></p></center><br>
    <center><p>Ваш пароль:  <input type="text" name = "password"></p></center><br>
    {% for i in answers %}
      {%if i == 'none'%}
          <center><p class="error">Ви не заповнили всі поля!</p></center>
      {%endif%}
      {%if i == 'email_is_here'%}
          <center><p class="error">Такий акаунт вже існує!</p></center>
      {%endif%}
    {% endfor %}
    <center><button class="slide-btns slide-left" type="submit">Регеструватися</button></center><br>
    <input type="hidden" name = "name"><br>
    <input type="hidden" name = "year"><br>
</form>
</body>
</html>